* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@import 'media.scss';
@import 'variables.scss';
@import 'components/header/header.scss';
@import 'components/main/main.scss';
