$primary: #1c1c2c;
$secondary: rgb(65, 65, 71);
$green: #48bf53;
$red: rgb(218, 52, 52);
$gold: #ffd700;
$fontColorLight: #ccc;
$fontColorDark: #111;
$font-XS: 1rem;
$font-S: 1.3rem;
$font-M: 1.6rem;
$font-L: 2rem;
$font-XL: 2.5rem;
$font-XXL: 3.7rem;
$font-XXXL: 4.5rem;
