.game {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary;

  &__slots {
    position: relative;
    display: flex;
    width: 800px;
    height: 450px;
    border-radius: 5px;
    background-color: $secondary;

    &::after {
      box-sizing: border-box;
      position: absolute;
      top: 150px;
      left: -2px;
      height: 150px;
      width: 100%;
      content: '';
      border-top: 5px solid $primary;
      border-bottom: 5px solid $primary;
    }

    &-column {
      height: 100%;
      width: calc(800px / 3);
    }

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 150px;
      width: 100%;
      font-size: $font-XXXL;
    }
  }

  &__bid {
    margin: 10px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-label {
      padding: 5px 0;
      color: $fontColorLight;
      font-size: $font-M;
      font-weight: bold;
    }

    &-inputContainer {
      position: relative;

      &-input {
        width: 150px;
        padding: 5px 10px;
        border: none;
        border-top: 2px solid $fontColorLight;
        font-size: $font-M;
        font-weight: bold;
        text-align: center;
        background-color: $secondary;
        color: $fontColorLight;

        &:focus {
          background-color: $primary;
        }
      }

      &-btn {
        position: absolute;
        top: 2px;
        left: 0;
        bottom: 0;
        border: none;
        width: 30px;
        background-color: $primary;
        font-weight: bold;
        font-size: $font-M;
        cursor: pointer;
        transition: 0.1s;

        &#decrement-bid {
          color: $red;
          &:hover {
            background-color: $red;
            color: $fontColorDark;
          }
        }

        &#increment-bid {
          left: auto;
          right: 0;
          color: $green;
          &:hover {
            background-color: $green;
            color: $fontColorDark;
          }
        }
      }
    }
  }

  &__startBtn {
    height: 55px;
    width: 55px;
    margin: 20px 0 0;
    border: 2px solid $fontColorLight;
    border-radius: 50%;
    color: white;
    font-size: $font-M;
    background-color: $red;
    font-weight: bold;
    cursor: pointer;
    transition: 0.1s;

    &:hover {
      background-color: $primary;
    }
  }

  &__stats {
    width: 100%;
    max-width: 1200px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;

    &-item {
      width: 20%;
      text-align: center;
      color: $fontColorLight;
      font-size: $font-M;

      & > span {
        font-weight: bold;
      }

      #stats-winningsSum {
        color: $green;
      }

      #stats-lostSum {
        color: $red;
      }
    }
  }

  @media (max-width: $laptop) {
    &__slots {
      width: 650px;
    }

    &__stats {
      flex-direction: column;
      justify-content: flex-start;

      &-item {
        padding: 10px 0;
        width: 100%;
      }
    }
  }

  @media (max-width: $tablet-M) {
    padding-top: 45px;

    &__slots {
      width: 650px;
      border: none;
    }
  }

  @media (max-width: $phone-L) {
    &__slots {
      width: 95vw;
      height: 225px;

      &::after {
        top: 75px;
        height: 75px;
      }

      &-item {
        height: 75px;
        font-size: $font-XL;
      }
    }

    &__bid {
      &-inputContainer {
        &-input {
          padding: 7px 10px;
        }

        &-btn {
          width: 34px;
        }
      }
    }

    &__startBtn {
      &:hover {
        background-color: $red;
      }
    }

    &__stats {
      padding: 25px 0 40px;

      &-item {
        padding: 3px 0;
      }
    }
  }
}
